name: CI

permissions:
  contents: read
  pull-requests: read
  
on:
  pull_request:
    branches: ["main"]

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      fe: ${{ steps.filter.outputs.fe }}
      be: ${{ steps.filter.outputs.be }}
    steps:
      - uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            fe:
              - 'fe/**'
            be:
              - 'be/**'

  fe-ci:
    needs: changes
    if: needs.changes.outputs.fe == 'true'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: fe

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - run: npm install
      - run: npm run lint
      - run: npm run build

  be-ci:
    needs: changes
    if: needs.changes.outputs.be == 'true'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: be

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin

      - run: chmod +x ./gradlew
      - run: ./gradlew build